<!DOCTYPE html>
<html>
<head>
    
    <style>
       p {
            text-align: center; /* Центрируем содержимое по горизонтали */
        }

        p a {
            font-size: 48px; /* Задаем размер шрифта */
            color:#fff;
            display: inline-flex; /* Используем flexbox для центрирования */
            align-items: center; /* Центрируем по вертикали */
            justify-content: center; /* Центрируем по горизонтали */
            transition: font-size 0.3s; /* Добавляем плавный переход при увеличении шрифта */
        }

        p a:hover {
            font-size: 56px; /* Увеличиваем размер шрифта при наведении */
            cursor:pointer;
            color:yellow;
        }
        
    </style>
</head>
<body>
   <p><a  asp-action="Tank">Танки</a></p>
    <p><a  asp-action="Jet">Літаки</a></p>
    <p><a  asp-action="Helicopter">Гвинтокрили</a></p>
    <p><a  asp-action="RSZO">РСЗО</a></p>
</body>
</html>
